<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.dao.CategoryMapper">

   <!-- UserInfo findCategoryByIdStep(Integer id);-->
    <select id="findCategoryByIdStep" resultType="com.mybatis.pojo.Category">
        select * from tbl_category where id=#{id}
    </select>
</mapper>